.App {
  text-align: center;
  padding-top: 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 247, 0, 0.46) 99.97%,
    rgba(247, 224, 23, 0) 99.98%,
    rgba(247, 224, 23, 0.00958333) 99.99%
  );
  height: 100%;
  position: fixed;
  overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.pokemons-list {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.pokemon-card {
  margin-right: 10px;
  margin-left: 10px;
  margin: 10px;
  padding-top: 30px;
  width: 180px;
  min-height: 180px;
  background-color: #f2e14c;
  border-radius: 50px;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.navigation__logo {
  font-family: Russo One;
  font-size: 42px;
  color: #ff9900;
}
